node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.next
out
dist
build

.git
.gitignore

.env
.env.*
!.env.docker.example

.idea
.vscode
.DS_Store
Thumbs.db
*.lnk

Dockerfile
docker-compose.yml
docker-compose.dev.yml
.dockerignore

coverage
*.md
!README.md
